* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 10px;
}

.unit-list {
  list-style-type: none;
  padding: 0 14px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
  gap: 25px;
}


.projet-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}