* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 10px auto;
}

h1 {
  font-size: 32px;
}
h2{
  text-align: center;
  padding: 10px;
}

.search {
  display: block;
  margin: 10px auto;
  width: 169px;
}

.unit-list {
  list-style-type: none;
  padding: 0 14px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 550px) {
  .unit-list {
  grid-template-columns: repeat(auto-fill, 350px);

}

}


