* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(/assets/Marble-texture-background.jpg);
  font-family: Dosis;
}

.unit-list {
  list-style-type: none;
  /* max-width: 1100px;  */
  padding: 0 14px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
  gap: 25px;
}


.projet-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}